@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ydalj4');
  src:  url('fonts/icomoon.eot?ydalj4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ydalj4') format('truetype'),
    url('fonts/icomoon.woff?ydalj4') format('woff'),
    url('fonts/icomoon.svg?ydalj4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\f067";
}
.icon-minus:before {
  content: "\f068";
}
.icon-home:before {
  content: "\f015";
}
.icon-download:before {
  content: "\f019";
}
.icon-volume-up:before {
  content: "\f028";
}
