// border test
%border-test {
  border: 5px solid #333;
}

.parent-overlay {
  background-color: #eee;
  padding: 10px;
  border: 1px solid #ccc;
  width: 300px;
  height: 200px;
  position: relative;
  @include prefix(animation, fadeInOut 2s infinite linear, webkit);
  @include prefix(box-shadow, 10px 10px 100px rgb(0, 0, 0), webkit moz o ms);

  .overlay {
    @include overlay;
    //@include transition(0.5s);

    @include hover {
      background-color: rgba($text-color, 0.5);
      @include prefix(box-shadow, 10px 10px 10px #ccc, webkit moz o ms);
    }
  }
}

@include KeyFrame(fadeInOut) {
  0% {
    opacity: 0.5;
    background-color: aqua;
  }

  50% {
    opacity: 1;
    background-color: chocolate;
  }

  100% {
    opacity: 0.5;
    background-color: darkgreen;
  }
}

// add parent have class home-page-slider
.home-page-slider {
  // All Img
  img {
    background-size: cover;
  }
  #carouselExampleCaptions {
    // ol
    .carousel-indicators {
      bottom: 100px;
      display: none;

      @include xs-media {
        display: flex;
      }

      @include sm-media {
      }

      @include md-media {
      }

      @include lg-media {
      }
      // li
      li.active {
      }
      li {
        height: 6px;
      }
    }
    // div carousel-inner
    .carousel-inner {
      // div carousel-item active
      .carousel-item.active {
        // img
        img {
        }
        // div
        > div {
          background-color: $main-color-opacity;
          padding: 50px;
          @include positionCenter;
        }
      }
      // div carousel-item
      .carousel-item {
        // img
        img {
        }
        // div center-position carousel-caption d-none d-md-block
        > div {
          background-color: rgba(51, 51, 51, 0.801);
          padding: 100px;
          @include positionCenter;
          @include transitionAll(all, 0.5s, linear);
          height: max-content;
        }
      }
    }
    // a
    .carousel-control-prev,
    .carousel-control-next {
      background-color: #333 !important;
      height: 100px;
      width: 50px;
      top: calc(50% - 50px);
      @include borderRadius(10%);
      // span
      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        width: 40px;
        height: 40px;
      }
      .sr-only {
      }
      @include xs-media {
        display: none;
      }

      @include sm-media {
      }

      @include md-media {
      }

      @include lg-media {
      }
    }
    .carousel-control-next {
      right: 50px;
    }
  }
}

// choose-us

.choose-us {
  padding-top: $main-padding + 50;
  padding-bottom: $main-padding + 50;
  background-color: $main-back;
  height: fit-content;
  .header-title {
    h3 {
      margin-bottom: $main-margin-text;
    }
    p {
      margin-bottom: $main-margin;
    }
  }
  .choose-box {
    background-color: #fff;
    padding: $main-padding-box;
    min-height: 400px;
    @include transitionAll(all, 0.5s, linear);
    .icon {
      font-size: 50px;
      padding-bottom: $main-padding-box;
      i {
        color: $main-color;
      }
    }
    h5 {
      padding-bottom: $main-padding-box;
      @include transitionAll(all, 0.5s, linear);
    }
    p {
    }
    @include hover {
      h5 {
        color: $main-color;
        font-weight: 600;
      }
    }
    @include hover {
      box-shadow: 0 25px 45px #00000080;
      transform: translateY(-10px);
      -webkit-transform: translateY(-10px);
      -moz-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      -o-transform: translateY(-10px);
    }
  }
  .choose-box-shadow {
    box-shadow: 0 25px 45px #00000080;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
  }
  .parent-box {
    margin-top: $main-padding-box + 30;
  }
}

//our-services

.our-services {
  background-color: $main-back;
  padding-bottom: $main-padding;
  .header-title {
    h3 {
      margin-bottom: $main-margin-text;
    }
    i {
      color: $main-color;
    }
    .title {
      margin-bottom: $main-margin-text;
      font-size: $font-md;
    }
    .disc {
      margin-top: $main-margin - 60;
    }
  }
  .our-services-box {
    margin-top: $main-margin;

    .services-box {
      @include transitionAll(all, 0.5s, linear);
      @include hover {
        box-shadow: 0 25px 45px #00000080;
        img {
          filter: grayscale(10);
          -webkit-filter: grayscale(10);
        }
      }
      .img {
        @include transitionAll(all, 0.5s, linear);
        @include hover {
          // filter: grayscale(10);
          // -webkit-filter: grayscale(10);
        }
      }
      .disc {
        background-color: #fff;
        padding-top: $main-padding-box + 20;
        padding-bottom: $main-padding-box;
        padding-left: 20px;
        padding-right: 20px;
        .parent-btn-open {
          margin-bottom: $main-margin-text -20;
        }
      }
    }
  }
}

// business

.business {
  padding-top: $main-padding + 50;
  padding-bottom: $main-padding + 50;
  background-image: url(../images/slider/6.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  .disc {
    font-size: $font-md;
  }
  .title {
    font-size: $font-lg;
  }
}

// about-us

.start-work {
  margin-top: $main-margin;
  padding-top: $main-padding;
  .title {
    margin-bottom: $main-margin-text;
    padding-bottom: $main-padding-box;
  }
  .start-work-parent {
    padding-top: $main-padding-box;
    padding-bottom: $main-padding-box;
    .parent-box {
      padding: $main-padding-box;
      border: 2px solid $text-color;
      min-height: 575px;
      @include borderRadius(10px);
      @include transitionAll(all, 0.5s, linear);
      @include hover {
      border: 2px solid $main-color;
      @include borderRadius(0px);

      }
      .img {
        overflow: hidden;
        height: 300px;
        img {
          background-size: cover;
          width: 100%;height: 100%;
        }
      }
      .disc {
        margin-top: $main-padding-box + 15;
        .title {
          color: $main-color;
          font-size: $font-sm + 5;
          margin-bottom: 0;
        }
      }
    }
  }
}

// services
.services {
  padding-top: $main-padding - 40;
}



// bottom-video
.bottom-video {
  background-image: url(../images/back-video.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  height: 300px;
}


// projects
.projects {
  .projects-text {
    height: 70px;
  }
}
