// border test
%border-test {
  border: 5px solid #333;
}

.parent-overlay {
  background-color: #eee;
  padding: 10px;
  border: 1px solid #ccc;
  width: 300px;
  height: 200px;
  position: relative;
  @include prefix(animation, fadeInOut 2s infinite linear, webkit);
  @include prefix(box-shadow, 10px 10px 100px rgb(0, 0, 0), webkit moz o ms);

  .overlay {
    @include overlay;
    //@include transition(0.5s);

    @include hover {
      background-color: rgba($text-color, 0.5);
      @include prefix(box-shadow, 10px 10px 10px #ccc, webkit moz o ms);
    }
  }
}

@include KeyFrame(fadeInOut) {
  0% {
    opacity: 0.5;
    background-color: aqua;
  }

  50% {
    opacity: 1;
    background-color: chocolate;
  }

  100% {
    opacity: 0.5;
    background-color: darkgreen;
  }
}

// add parent have class home-page-slider
.home-page-slider {
  // All Img
  img {
    background-size: cover;
  }
  #carouselExampleCaptions {
    // ol
    .carousel-indicators {
      bottom: 100px;
      display: none;

      @include xs-media {
        display: flex;
      }

      @include sm-media {
      }

      @include md-media {
      }

      @include lg-media {
      }
      // li
      li.active {
      }
      li {
        height: 6px;
      }
    }
    // div carousel-inner
    .carousel-inner {
      // div carousel-item active
      .carousel-item.active {
        // img
        img {
        }
        // div
        > div {
          background-color: $main-color-opacity;
          padding: 50px;
          @include positionCenter;
        }
      }
      // div carousel-item
      .carousel-item {
        // img
        img {
        }
        // div center-position carousel-caption d-none d-md-block
        > div {
          background-color: rgba(51, 51, 51, 0.801);
          padding: 100px;
          @include positionCenter;
          @include transitionAll(all, 0.5s, linear);
          height: max-content;
        }
      }
    }
    // a
    .carousel-control-prev,
    .carousel-control-next {
      background-color: #333 !important;
      height: 100px;
      width: 50px;
      top: calc(50% - 50px);
      @include borderRadius(10%);
      // span
      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        width: 40px;
        height: 40px;
      }
      .sr-only {
      }
      @include xs-media {
        display: none;
      }

      @include sm-media {
      }

      @include md-media {
      }

      @include lg-media {
      }
    }
    .carousel-control-next {
      right: 50px;
    }
  }
}

// choose-us

.choose-us {
  padding-top: $main-padding + 50;
  padding-bottom: $main-padding + 50;
  background-color: $main-back;
  height: fit-content;
  .header-title {
    h3 {
      margin-bottom: $main-margin-text;
    }
    p {
      margin-bottom: $main-margin;
    }
  }
  .choose-box {
    background-color: #fff;
    padding: $main-padding-box;
    min-height: 400px;
    @include transitionAll(all, 0.5s, linear);
    .icon {
      font-size: 50px;
      padding-bottom: $main-padding-box;
      i {
        color: $main-color;
      }
    }
    h5 {
      padding-bottom: $main-padding-box;
      @include transitionAll(all, 0.5s, linear);
    }
    p {
    }
    @include hover {
      h5 {
        color: $main-color;
        font-weight: 600;
      }
    }
    @include hover {
      box-shadow: 0 25px 45px #00000080;
      transform: translateY(-10px);
      -webkit-transform: translateY(-10px);
      -moz-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      -o-transform: translateY(-10px);
    }
  }
  .choose-box-shadow {
    box-shadow: 0 25px 45px #00000080;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
  }
  .parent-box {
    margin-top: $main-padding-box + 30;
  }
}

//our-services

.our-services {
  background-color: $main-back;
  padding-bottom: $main-padding;
  .header-title {
    h3 {
      margin-bottom: $main-margin-text;
    }
    i {
      color: $main-color;
    }
    .title {
      margin-bottom: $main-margin-text;
      font-size: $font-md;
    }
    .disc {
      margin-top: $main-margin - 60;
    }
  }
  .our-services-box {
    margin-top: $main-margin;

    .services-box {
      @include transitionAll(all, 0.5s, linear);
      .img {
        height: 387px;
        display: block;
        img {
          height: 100%;
          background-size: cover;
        }
      }
      @include hover {
        box-shadow: 0 25px 45px #00000080;
        img {
          filter: grayscale(10);
          -webkit-filter: grayscale(10);
        }
      }
      .img {
        @include transitionAll(all, 0.5s, linear);
        @include hover {
          // filter: grayscale(10);
          // -webkit-filter: grayscale(10);
        }
      }
      .disc {
        background-color: #fff;
        padding-top: $main-padding-box + 20;
        padding-bottom: $main-padding-box;
        padding-left: 20px;
        padding-right: 20px;
        .parent-btn-open {
          margin-bottom: $main-margin-text -20;
        }
      }
    }
  }
}

// business

.business {
  padding-top: $main-padding + 50;
  padding-bottom: $main-padding + 50;
  background-image: url(../images/slider/6.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  .disc {
    font-size: $font-md;
  }
  .title {
    font-size: $font-lg;
  }
}

// about-us

.start-work {
  margin-top: $main-margin;
  padding-top: $main-padding;
  .title {
    margin-bottom: $main-margin-text;
    padding-bottom: $main-padding-box;
  }
  .start-work-parent {
    padding-top: $main-padding-box;
    padding-bottom: $main-padding-box;
    .parent-box {
      padding: $main-padding-box;
      border: 2px solid $text-color;
      min-height: 575px;
      @include borderRadius(10px);
      @include transitionAll(all, 0.5s, linear);
      @include hover {
        border: 2px solid $main-color;
        @include borderRadius(0px);
      }
      .img {
        overflow: hidden;
        height: 300px;
        img {
          background-size: cover;
          width: 100%;
          height: 100%;
        }
      }
      .disc {
        margin-top: $main-padding-box + 15;
        .title {
          color: $main-color;
          font-size: $font-sm + 5;
          margin-bottom: 0;
        }
      }
    }
  }
}

// services
.services {
  padding-top: $main-padding - 40;
}

// bottom-video
.bottom-video {
  background-image: url(../images/back-video.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  height: 300px;
}

// projects
.projects {
  .projects-text {
    height: 70px;
  }
}

// Page About
.main-page-about {
  .slider {
    background-image: url(../images/page-about/slider/1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: calc(100vh / 2);
    position: relative;
    .h1 {
      @include positionCenter;
      @include flexCenter;
      font-size: $font-lg;
      font-weight: bold;
      color: $main-color;
    }
  }
  .parent-disc {
    margin-top: $main-margin + 50;
    height: fit-content;
    .img-area {
      height: 618px;
      width: 100%;
      display: block;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
  .search {
    margin-top: $main-margin;

    background-image: url(../images/page-about/2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    .icon {
      color: #fff;
      @include transitionAll(all, 0.5s, linear);
      @include hover {
        color: $main-color;
        @include scale(1.1, 1.1);
      }
    }
    .disc {
      min-height: 200px;
      .h3 {
        color: #fff;
        height: 80px;
      }
      .lead {
        color: #fff;
      }
    }
  }
  .principles {
    margin-top: $main-margin;
    padding-top: $main-padding;
    .disc {
    }
    .img-area {
      display: block;
      img {
        width: 100%;
      }
    }
  }
}

// page designs

.main-page-designs {
  margin-top: $main-margin;
  .text-one {
    .title {
      font-size: 5vw;
      padding-top: 15%;
      height: 332px;
    }
  }
  .img-area {
    margin-top: $main-margin;
    height: 427px;
    width: 100%;
    display: block;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .text-after-img {
    margin-top: $main-margin-text + 30;
  }
}
.parent-item {
  background-color: $main-back;
  margin-top: $main-margin;
  padding-top: $main-padding;
  .item {
    margin-bottom: $main-margin-text;
    i {
      color: $main-color;
    }
  }
}
.Holiday-services {
  margin-top: $main-margin;
  .header {
  }
  .hr {
    background-color: $main-color;
    height: 3px;
    width: 40%;
    margin: auto;
  }
  .lead {
  }
}

.Success-one {
  padding-left: $main-padding-box + 50;
  background-color: $page-design;
  height: 100vh;
  position: relative;
  > div {
    @include positionCenter;
  }

  .img-area {
    display: block;
    width: 100%;
    height: 600px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .disc {
    background-color: #fff;
    min-height: 600px;
    position: relative;
    margin-left: 100px;
    .disc-chiLd {
      padding-left: $main-padding-box;
      padding-right: $main-padding-box;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
    }
    &::before {
      position: absolute;
      content: "";
      top: -10%;
      left: -5%;
      height: 120%;
      border: 20px solid $main-color;
      z-index: -1;
      @include borderRadius(10px);
    }
  }
  .col-my-left-7,
  .col-my-left-5 {
    padding: 0;
    @include xs-media {
      width: 100%;
      float: none;
    }
  }
  .col-my-left-7 {
    @include xs-media {
      .disc {
        position: relative;
        margin-left: 0;
        top: 0;
        left: 0;
        transform: translate(0%, 0%);
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        &::before {
          display: none;
        }
        .disc-chiLd {
          margin-top: $main-margin;
          padding-top: $main-padding;
          position: relative;
          top: 0%;
          transform: translateY(0%);
          -webkit-transform: translateY(0%);
          -moz-transform: translateY(0%);
          -ms-transform: translateY(0%);
          -o-transform: translateY(0%);
        }
        .lead {
          display: none;
        }
      }
    }
  }
  .col-my-left-5 {
    @include xs-media {
    }
  }
}

//
.Success-tow {
  margin-top: $main-margin + 50;
  padding-left: $main-padding-box + 50;
  background-color: $page-design;
  height: 100vh;
  position: relative;
  > div {
    @include positionCenter;
  }

  .img-area {
    display: block;
    width: 100%;
    height: 600px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .disc {
    background-color: #fff;
    min-height: 600px;
    position: relative;
    margin-right: 100px;
    .disc-chiLd {
      padding-left: $main-padding-box;
      padding-right: $main-padding-box;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
    }
    &::before {
      position: absolute;
      content: "";
      top: -10%;
      right: -5%;
      height: 120%;
      border: 20px solid $main-color;
      z-index: -1;
      @include borderRadius(10px);
    }
  }
  .col-my-left-7,
  .col-my-left-5 {
    padding: 0;
    @include xs-media {
      width: 100%;
      float: none;
    }
  }
  .col-my-left-7 {
    @include xs-media {
      .disc {
        position: relative;
        margin-left: 0;
        top: 0;
        left: 0;
        transform: translate(0%, 0%);
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        &::before {
          display: none;
        }
        .disc-chiLd {
          margin-top: $main-margin;
          padding-top: $main-padding;
          position: relative;
          top: 0%;
          transform: translateY(0%);
          -webkit-transform: translateY(0%);
          -moz-transform: translateY(0%);
          -ms-transform: translateY(0%);
          -o-transform: translateY(0%);
        }
        .lead {
          display: none;
        }
      }
    }
  }
  .col-my-left-5 {
    @include xs-media {
    }
  }
}

// our-work

.our-work {
  margin-top: $main-margin;
  .our-work-box-tow,
  .our-work-box-three {
    margin-top: $main-margin;
  }
  .text-know {
    background-color: $main-back;
    padding-top: $main-padding;
    padding-bottom: $main-padding;
    margin-top: $main-margin;
    .call-us {
      width: fit-content;
      margin-top: $main-margin-text;
      background-color: $main-color;
      color: #fff;
      text-align: center;
      margin-right: auto;
      margin-left: auto;
      display: block;
      padding: 10px 20px;
    }
  }
}

// page-blog
.page-blog {
  background-color: $main-back;
  padding-top: $main-padding;
  .blog-one {
    margin-top: $main-margin;
    .css-parent-backward {
      .css-backward-show {
        height: 500px;
        .img-area {
          height: 300px;
          width: 100%;
          img {
            height: 100%;
            width: 100%;
          }
        }
        .lead {
        }
      }
      .css-backward-hide {
        height: 500px;
        @include boxShadow(-1px, 0px, 10px, #000);
        .img-area {
          height: 300px;
          width: 100%;
          img {
            height: 100%;
            width: 100%;
          }
        }
        p {
          padding-top: 20px;
          padding-bottom: 20px;
          line-height: 1.5;
        }
      }
    }
  }
}

// page-contact-form

.page-contact-form {
  margin-top: $main-margin;
  .address {
    i {
      color: $main-color;
      font-size: $font-sm;
      margin-top: 10px;
    }
  }
}
