// css-element-with-border
/*
<!-- Start element with border -->     
<div class="css-element-with-border">       
<div class="inner">hossam</div>     
</div>     
<!-- End element with border -->
*/
.css-element-with-border {
  position: relative;

  .inner {
    background-color: transparent;

    text-align: center;

    color: $main-color;

    margin: 40px auto;


    width: 300px;

    padding: 10px 15px;

  }
}
/*
 <!-- Start social one -->
<div class="social-one">
  <div class="social-main social-center">
    <div class="social-box">
      <div class="social-icon-box social-center">
        <i class="fa fa-instagram fa-2x "></i>
      </div>
      <div class="social-inner-box social-center">
        <p>instagram</p>
      </div>
    </div>
    <div class="social-box">
      <div class="social-icon-box social-center ib-t">
        <i class="fa fa-twitter fa-2x "></i>
      </div>
      <div class="social-inner-box social-center"><p>twitter</p></div>
    </div>
    <div class="social-box">
      <div class="social-icon-box social-center ib-f">
        <i class="fa fa-facebook fa-2x "></i>
      </div>
      <div class="social-inner-box social-center">
        <p>facebook</p>
      </div>
    </div>
    <div class="social-box">
      <div class="social-icon-box social-center ib-w">
        <i class="fa fa-whatsapp fa-2x "></i>
      </div>
      <div class="social-inner-box social-center">
        <p>whatsapp</p>
      </div>
    </div>
  </div>
</div>
<!-- End social one-->
*/
// social media
.social-one {
  margin-top: 50px;
  .social-center {
    height: 100%;
    width: 100%;
    // بيخالى العنصر فى النص
    @include flexCenter;
  }
  .social-main {
    // height: 110px;
    // width: 100%;
    > div {
      @include grid-right(4, 2%);
    }
  }

  .social-box {
    width: 70px;
    height: 70px;
    position: relative;
    // margin: 0px 20px;
  }
  .social-icon-box,
  .social-inner-box {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #c13584;
    color: #fff;
    @include borderRadius(10px);
    cursor: pointer;
    @include transition(0.5s);
  }
  .ib-t {
    background: #1da1f2;
  }
  .ib-f {
    background: #3498db;
  }
  .ib-w {
    background: #25d366;
  }
  .social-box:hover .social-icon-box {
    transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
  }
  .social-inner-box {
    background: #fffeff;
    align-items: flex-end;
    justify-content: center;
    z-index: -1;
    color: rgb(41, 41, 41);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.082);
    p {
      font-family: $font-cairo;
      font-size: 1em;
      font-weight: bold;
      margin-bottom: 5px;
    }
  }
}

// scroll to top
// scroll-to-top-1
/*
<!-- Start scroll to top -->
<a href="#" class="scroll-to-top" id="scroll-to-top-1">
 <i class="fa fa-chevron-up fa-2x fa-fw"></i>
</a>
<!-- End scroll to top -->
*/
#scroll-to-top-1 {
  background-color: map-get($colors, 333);
  color: #fff;
  display: block;
  padding: 0px 5px 3px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  z-index: 900000;
  height: 50px;
  line-height: 50px;
  text-align: center;
  @include borderRadius(10px);
  border: 2px solid map-get($colors, 9);
  @include hover {
    color: #fff;
  }
}

// scroll-to-top-2
/*
<!-- Start scroll to top -->     
<a href="#" class="scroll-to-top" id="scroll-to-top-2">       
<i class="fa fa-chevron-circle-up fa-2x fa-fw"></i>
</a>     
<!-- End scroll to top -->
*/
#scroll-to-top-2 {
  background-color: #2b3c4d;
  color: #fff;
  display: block;
  padding: 5px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  z-index: 900000;
  height: 50px;
  line-height: 50px;
  text-align: center;
  @include borderRadius(10px);
  border: 2px solid map-get($colors, 9);
  @include hover {
    color: #fff;
  }
}

// scroll-to-top-3
/*
<!-- Start scroll to top -->
<a href="#" class="scroll-to-top" id="scroll-to-top-3">
  <i class="fa fa-hand-pointer-o fa-fw fa-2x"></i>
</a>
<!-- End scroll to top -->
*/
#scroll-to-top-3 {
  background-color: #007bff;
  color: #fff;
  display: block;
  padding: 5px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  z-index: 900000;
  height: 50px;
  line-height: 50px;
  text-align: center;
  @include borderRadius(10px);
  border: 2px solid map-get($colors, 9);
  @include hover {
    color: #fff;
  }
}

// css-before-after-width-height
/*
class="css-before-after-width-height "
*/
.css-before-after-width-height {
  position: relative;
  @include transition(0.5s);
  z-index: 8;
  &::before {
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    content: "";
    background: rgb(95, 95, 95);
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    z-index: -9;
    opacity: 0;
  }
  &::after {
    position: absolute;
    width: 0;
    height: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: rgba(104, 104, 104, 0.671);
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    z-index: -9;
    opacity: 0;
  }
  &:hover::after,
  &:hover::before {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}

// css-parent-backward
/*
class="css-parent-backward"
 class="css-backward-show"
 class="css-backward-hide"
*/
.css-parent-backward {
  position: relative;
  overflow: hidden;
  @include transition(0.5s);
  .css-backward-show {
    transform: translateY(0%);
    position: relative;
    overflow: hidden;
    @include transition(0.5s);
  }
  .css-backward-hide {
    transform: translateY(-100%);
    position: absolute;
    top: 0;
    right: 0;
    @include transition(0.5s);
  }
  &:hover .css-backward-show {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
  }
  &:hover .css-backward-hide {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
  }
}
// menu-plus
/*
<!-- Start menu-plus -->
    <div class="menu-Plus">
      <button class="plus" onclick="openMenu()">+</button>
      <ul>
        <li>menu</li>
        <li>about</li>
        <li>contact</li>
      </ul>
    </div>
    <!-- End menu-plus -->
*/
.menu-Plus {
  background-color: #eee;
  padding: 10px;
  width: 150px;
  -webkit-clip-path: circle(20px at 120px 30px);
  clip-path: circle(20px at 120px 30px);
  @include transition(0.5s);
  //
  .plus {
    font-size: $font-page + 14;
    background-color: #eee;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    @include borderRadius(50%);
  }
  ul {
    li {
      margin-bottom: 10px;
    }
  }
  &.open {
    -webkit-clip-path: circle(20px at 30px 30px);
    clip-path: circle(200px at 20px 20px);
  }
}
// clip path
/*
<div class="css-clip-path-1">
 <a href="">
   <img
   src="https://placeimg.com/200/200/arch"
   alt=""
   class="img-fluid img-thumbnail"
 />
 <img
   src="https://placeimg.com/200/200/nature"
   alt=""
   class="img-fluid img-thumbnail"
 />
 <img
   src="https://placeimg.com/200/200/people"
   alt=""
                class="img-fluid img-thumbnail"
 />
 <img
     src="https://placeimg.com/200/200/tech"
     alt=""
     class="img-fluid img-thumbnail"
   />
 </a> 
</div>
*/
.css-clip-path-1 {
  position: relative;
  height: 250px;
  width: 100%;

  a {
    width: 100%;
    height: 100%;
    display: block;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.6);
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transition: 1s;
      -webkit-transition: 1s;
      -moz-transition: 1s;
      -ms-transition: 1s;
      -o-transition: 1s;
      background-size: cover;
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        -webkit-clip-path: circle(0 at 0% 100%);
        clip-path: circle(0 at 0% 100%);
      }
    }
  }

  &:hover img:nth-child(2),
  &:hover img:nth-child(3),
  &:hover img:nth-child(4) {
    -webkit-clip-path: circle(150% at 0% 100%);
    clip-path: circle(150% at 0% 100%);
  }
  &:hover img:nth-child(2) {
    transition-delay: 0;
    transition-duration: 2s;
  }
  &:hover img:nth-child(3) {
    transition-delay: 1s;
    transition-duration: 2s;
  }
  &:hover img:nth-child(4) {
    transition-delay: 2s;
    transition-duration: 2s;
  }
}

/*
<div class="parent-face-back-rotate-x">
      <div class="button-text">
        <span class="btn-face single-text">see more</span>
        <a href="#" class="btn-back single-text">click here</a>
      </div>
    </div>
*/
// rotate-x

.parent-face-back-rotate-x {
  display: inline-block;
  position: relative;
  height: 50px;
  width: 150px;
  cursor: pointer;
  perspective: 600px;
  &:not(:last-child) {
    margin-right: 15px;
  }
  .button-text {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    line-height: 50px;
    position: absolute;
    transform-style: preserve-3d;
    @include transition(0.5s);
    .single-text {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    &:hover {
      transform: rotateX(180deg);
      -webkit-transform: rotateX(180deg);
      -moz-transform: rotateX(180deg);
      -ms-transform: rotateX(180deg);
      -o-transform: rotateX(180deg);
    }
    .btn-face {
      margin: 0;
      color: #fff;
      background-color: tomato;
    }
    .btn-back {
      color: #fff;
      background-color: #1abc9c;
      text-decoration: none;
      transform: rotateX(180deg);
      -webkit-transform: rotateX(180deg);
      -moz-transform: rotateX(180deg);
      -ms-transform: rotateX(180deg);
      -o-transform: rotateX(180deg);
    }
  }
}

/*
<div class="parent-face-back-rotate-y">
      <div class="button-text">
        <span class="btn-face single-text">see more</span>
        <a href="#" class="btn-back single-text">click here</a>
      </div>
    </div>
*/
// rotate-y

.parent-face-back-rotate-y {
  display: inline-block;
  position: relative;
  height: 50px;
  width: 150px;
  cursor: pointer;
  perspective: 600px;
  &:not(:last-child) {
    margin-right: 15px;
  }
  .button-text {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    line-height: 50px;
    position: absolute;
    transform-style: preserve-3d;
    @include transition(0.5s);
    .single-text {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    &:hover {
      transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
    }
    .btn-face {
      margin: 0;
      color: #fff;
      background-color: tomato;
    }
    .btn-back {
      color: #fff;
      background-color: #1abc9c;
      text-decoration: none;
      transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
    }
  }
}
/*
<div class="parent-view">
      <div class="view-area">
        <div class="play">
          <i class="fa fa-play"></i>
        </div>
      </div>
    </div>
*/
// view
.parent-view {
  height: 300px;
  width: 100%;
  position: relative;
  .view-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    .play {
      width: 80px;
      height: 80px;
      background: #ffcd44;
      color: #fff;
      text-align: center;
      cursor: pointer;
      line-height: 80px;
      -webkit-animation-name: shadow;
      animation-name: shadow;
      -webkit-animation-duration: 2s;
      animation-duration: 2s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      // animation: animate 2s linear infinite;
      // -webkit-animation: animate 2s linear infinite;
      @include borderRadius(50%);
      @-webkit-keyframes shadow {
        0% {
          box-shadow: 0 0 0 0 rgba(255, 206, 67, 0.7);
          background-color: #007bff;
        }
        40% {
          box-shadow: 0 0 0 50px rgba(255, 206, 67, 0);
        }
        80% {
          box-shadow: 0 0 0 50px rgba(255, 206, 67, 0);
        }
        100% {
          box-shadow: 0 0 0 0 rgba(255, 206, 67, 0);
        }
      }
      @keyframes shadow {
        0% {
          box-shadow: 0 0 0 0 rgba(255, 206, 67, 0.7);
        }
        40% {
          box-shadow: 0 0 0 50px rgba(255, 206, 67, 0);
        }
        80% {
          box-shadow: 0 0 0 50px rgba(255, 206, 67, 0);
        }
        100% {
          box-shadow: 0 0 0 0 rgba(255, 206, 67, 0);
        }
      }
    }
  }
}
/*
<div class="css-parent-text-shadow-1">
      <h2 class="h1">hossam rashad</h2>
    </div>
*/
// parent-shadow-1
.css-parent-text-shadow-1 {
  display: inline-block;
  // background: #ddd;
  padding: 10px;
  h4 {
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    @include transition(0.5s);
    @include hover {
      text-shadow: -1px -1px 1px #333, 0 1px 0 #333, 0 2px 0 #333, 0 2px 0 #333,
        0 3px 0 #333, 0 4px 0 #333, 0 5px 0 #333, 0 6px 0 #333, 0 7px 0 #333,
        0 8px 0 #333, 0 9px 0 #333, 0 10px 0 #333, 0 11px 0 #333, 0 12px 0 #333,
        0 13px 0 #333, 0 14px 0 #333, 0 15px 0 #333,
        10px 25px 35px rgba(0, 0, 0, 0);
    }
  }
}

//parent-btn-open
/*
<!-- Start parent-btn-open -->
    <div class="parent-btn-open">
      <div class="button-text">
        <span class="single-text">See More</span>
        <a href="#" class="single-text">Click Here</a>
      </div>
    </div>
    <!-- End parent-btn-open -->
*/
.parent-btn-open {
  display: inline-block;
  position: relative;
  height: 50px;
  width: 150px;
  cursor: pointer;
  perspective: 600px;
  //
  &:not(:last-child) {
    margin-left: 15px;
  }
  .button-text {
    display: block;
    text-align: center;
    line-height: 50px;
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    //
    span {
      margin: 0;
      color: map-get($colors, fff);
      background-color: map-get($colors, 999);
      transform-origin: 50% 0;
      transition: transform 0.4s ease;
      -webkit-transition: transform 0.4s ease;
      -moz-transition: transform 0.4s ease;
      -ms-transition: transform 0.4s ease;
      -o-transition: transform 0.4s ease;
    }
    a {
      color: map-get($colors, fff);
      background-color: $main-color;
      text-decoration: none;
      z-index: -5;
    }
    .single-text {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      @include borderRadius(10px);
    }
    &:hover span {
      transform: rotateX(90deg);
      -webkit-transform: rotateX(90deg);
      -moz-transform: rotateX(90deg);
      -ms-transform: rotateX(90deg);
      -o-transform: rotateX(90deg);
      transform-origin: 50% 0;
      transition: transform 0.4s ease;
      -webkit-transition: transform 0.4s ease;
      -moz-transition: transform 0.4s ease;
      -ms-transition: transform 0.4s ease;
      -o-transition: transform 0.4s ease;
    }
  }
}

// social-box 2
/*
<!-- Start social-box-2 -->
    <div class="css-parent-social-box-2">
      <a href="#" class="box-facebook">
        facebook
        <i class="fa fa-facebook fa-fw"></i>
      </a>
      <a href="#" class="box-whatsapp"
        >whatsapp
        <i class="fa fa-whatsapp fa-fw"></i>
      </a>

      <a href="#" class="box-youtube"
        >youtube
        <i class="fa fa-youtube fa-fw"></i>
      </a>
      <a href="#" class="box-google"
        >google
        <i class="fa fa-google fa-fw"></i>
      </a>
      <a href="#" class="box-dribbble"
        >dribbble
        <i class="fa fa-dribbble fa-fw"></i>
      </a>
      <a href="#" class="box-linkedin"
        >linkedin
        <i class="fa fa-linkedin fa-fw"></i>
      </a>
      <a href="#" class="box-pinterest"
        >pinterest
        <i class="fa fa-pinterest fa-fw"></i>
      </a>
      <a href="#" class="box-github"
        >github
        <i class="fa fa-github fa-fw"></i>
      </a>
    </div>
    <!-- End social-box-2 -->
*/
.css-parent-social-box-2 {
  a {
    position: fixed;
    right: -110px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    padding: 15px;
    width: 150px;
    text-decoration: none;
    text-align: left;
    font-size: $font-sm;
    color: map-get($colors, fff);
    margin-top: 15%;
    text-transform: capitalize;
    z-index: 1000;
    @include borderRadius(5px);
    &:hover {
      right: 0px;
    }
  }
  .box-facebook {
    top: 80px;
    background-color: map-get($colors, 3498db);
  }
  .box-whatsapp {
    top: 150px;
    background-color: map-get($colors, 29bb89);
  }
  .box-youtube {
    top: 220px;
    background-color: map-get($colors, c00);
  }
  .box-google {
    top: 290px;
    background-color: map-get($colors, 3498db);
  }
  .box-dribbble {
    top: 290px;
    background-color: map-get($colors, ed4c67);
  }
  .box-linkedin {
    top: 360px;
    background-color: map-get($colors, 046582);
  }
  .box-pinterest {
    top: 430px;
    background-color: map-get($colors, 999);
  }
  .box-github {
    top: 500px;
    background-color: map-get($colors, 333);
  }
}
// mouse-icon
/*
<div class="css-parent-mouse-icon jq-window-height">
      <div class="mouse-icon">
        <div class="wheel"></div>
      </div>
    </div>
*/
.css-parent-mouse-icon {
  position: relative;

  .mouse-icon {
    position: absolute;
    left: 50%;
    bottom: 25px;
    border: 3px solid map-get($colors, fff);
    height: 50px;
    width: 30px;
    margin-left: -17px;
    display: block;
    z-index: 10;
    @include borderRadius(16px);
    .wheel {
      position: relative;
      @include borderRadius(10px);
      background-color: map-get($colors, fff);
      width: 4px;
      height: 10px;
      margin-left: auto;
      margin-right: auto;
      -webkit-animation-name: drop;
      animation-name: drop;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-play-state: running;
      animation-play-state: running;
    }
    @-webkit-keyframes drop {
      0% {
        top: 5px;
        opacity: 0;
      }
      30% {
        top: 10px;
        opacity: 1;
      }
      100% {
        top: 25px;
        opacity: 0;
      }
    }
    @keyframes drop {
      0% {
        top: 5px;
        opacity: 0;
      }
      30% {
        top: 10px;
        opacity: 1;
      }
      100% {
        top: 25px;
        opacity: 0;
      }
    }
  }
}

// parent-btn-ching-color-hover
/*
<div class="css-parent-ching-color-left">
      <a href="#" class=""> <span>Contact Us</span> </a>
    </div>
*/
.css-parent-ching-color-left {
  position: relative;
  a {
    position: absolute;
    font-size: $font-sm + 5;
    text-decoration: none;
    text-transform: capitalize;
    background-color: map-get($colors, fff);
    border: 1px solid map-get($colors, 3498db);
    padding: 10px 15px;
    overflow: hidden;
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    @include borderRadius(5px);
    &::before {
      content: "";
      position: absolute;
      @include transition(0.3s);
      height: 100%;
      background: map-get($colors, 3498db);
      width: 100%;
      top: 0;
      left: -100%;
    }
    &:hover::before {
      left: 0;
      z-index: -1;
    }
    span {
      color: map-get($colors, 3498db);
      @include transition(0.3s);
      z-index: 1;
    }
    &:hover span {
      color: map-get($colors, fff);
    }
  }
}

.css-parent-ching-color-right {
  position: relative;
  a {
    position: absolute;
    font-size: $font-sm + 5;
    text-decoration: none;
    text-transform: capitalize;
    background-color: map-get($colors, fff);
    border: 1px solid map-get($colors, 3498db);
    padding: 10px 15px;
    overflow: hidden;
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    @include borderRadius(5px);
    &::before {
      content: "";
      position: absolute;
      @include transition(0.3s);
      height: 100%;
      background: map-get($colors, 3498db);
      width: 100%;
      top: 0;
      right: -100%;
    }
    &:hover::before {
      right: 0;
      z-index: -1;
    }
    span {
      color: map-get($colors, 3498db);
      @include transition(0.3s);
      z-index: 1;
    }
    &:hover span {
      color: map-get($colors, fff);
    }
  }
}
.css-parent-ching-color-top {
  position: relative;
  a {
    position: absolute;
    font-size: $font-sm + 5;
    text-decoration: none;
    text-transform: capitalize;
    background-color: map-get($colors, fff);
    border: 1px solid map-get($colors, 3498db);
    padding: 10px 15px;
    overflow: hidden;
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    @include borderRadius(5px);
    &::before {
      content: "";
      position: absolute;
      @include transition(0.3s);
      height: 100%;
      background: map-get($colors, 3498db);
      width: 100%;
      left: 0;
      top: -100%;
    }
    &:hover::before {
      top: 0;
      z-index: -1;
    }
    span {
      color: map-get($colors, 3498db);
      @include transition(0.3s);
      z-index: 1;
    }
    &:hover span {
      color: map-get($colors, fff);
    }
  }
}

.css-parent-ching-color-bottom {
  position: relative;
  a {
    position: absolute;
    font-size: $font-sm + 5;
    text-decoration: none;
    text-transform: capitalize;
    background-color: map-get($colors, fff);
    border: 1px solid map-get($colors, 3498db);
    padding: 10px 15px;
    overflow: hidden;
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    @include borderRadius(5px);
    &::before {
      content: "";
      position: absolute;
      @include transition(0.3s);
      height: 100%;
      background: map-get($colors, 3498db);
      width: 100%;
      right: 0;
      bottom: -100%;
    }
    &:hover::before {
      bottom: 0;
      z-index: -1;
    }
    span {
      color: map-get($colors, 3498db);
      @include transition(0.3s);
      z-index: 1;
    }
    &:hover span {
      color: map-get($colors, fff);
    }
  }
}

// css-parent-btn-flip-2
/*
<!-- Start btn-flip -->
<div class="css-parent-btn-flip-2">
  <a href="#" title="Login" class="link"></a>
</div>
<!-- End btn-flip -->
*/
.css-parent-btn-flip-2 {
  position: relative;
  .link {
    font-size: $font-sm;
    font-family: poppins;
    text-decoration: none;
    text-transform: uppercase;
    transform-style: preserve-3d;
    position: relative;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    &::before {
      content: attr(title);
      position: absolute;
      top: 0;
      right: 0;
      padding: 5px 30px;
      background: #fff;
      color: tomato;
      border: 1px solid tomato;
      transition: 0.5s;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      transform: translateX(-100%) rotateY(90deg);
      -webkit-transform: translateX(-100%) rotateY(90deg);
      -moz-transform: translateX(-100%) rotateY(90deg);
      -ms-transform: translateX(-100%) rotateY(90deg);
      -o-transform: translateX(-100%) rotateY(90deg);
      transform-origin: right;
    }
    &::after {
      content: attr(title);
      position: absolute;
      top: 0;
      right: 0;
      padding: 5px 30px;
      background: tomato;
      color: #fff;
      border: 1px solid tomato;
      transition: 0.4s;
      -webkit-transition: 0.4s;
      -moz-transition: 0.4s;
      -ms-transition: 0.4s;
      -o-transition: 0.4s;
      transform: translateX(0) rotateY(0deg);
      -webkit-transform: translateX(0) rotateY(0deg);
      -moz-transform: translateX(0) rotateY(0deg);
      -ms-transform: translateX(0) rotateY(0deg);
      -o-transform: translateX(0) rotateY(0deg);
      transform-origin: left;
    }
    &:hover::before {
      transform: translateX(0) rotateY(0deg);
      -webkit-transform: translateX(0) rotateY(0deg);
      -moz-transform: translateX(0) rotateY(0deg);
      -ms-transform: translateX(0) rotateY(0deg);
      -o-transform: translateX(0) rotateY(0deg);
    }
    &:hover::after {
      transform: translateX(100%) rotateY(90deg);
      -webkit-transform: translateX(100%) rotateY(90deg);
      -moz-transform: translateX(100%) rotateY(90deg);
      -ms-transform: translateX(100%) rotateY(90deg);
      -o-transform: translateX(100%) rotateY(90deg);
    }
  }
}

// css-parent-text-back-img
/*
<!-- Start text-back-img -->
<div class="css-parent-text-back-img">
  <h2 class="h1">Hossam</h2>
</div>
<!-- End text-back-img -->
*/
.css-parent-text-back-img {
  width: 100%;
  @include flexCenter;
  .h1 {
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 900;
    font-family: poppins;
    margin: 0;
    background-image: url(https://placeimg.com/200/200/arch);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}

// css-overlay-top
/*
<!-- Start overlay-top -->
          <div class="css-overlay-top">
            <div class="side-text">
              <h2 class="h1">hossam rashad</h2>
            </div>
            <div class="side-img">
              <img
                src="images/440x440/image-1.jpg"
                alt=""
                class="img-fluid img-thumbnail"
              />
            </div>
          </div>
          <!-- End overlay-top -->
*/
.css-overlay-top {
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  img {
    width: 100%;
    height: 100%;
  }
  .h1 {
    margin: 0;
    padding: 0;
    line-height: 250px;
    font-size: 2vw;
    font-family: poppins;
    text-transform: uppercase;
  }
  .side-text,
  .side-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    perspective: 600px;
    transform-style: preserve-3d;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  .side-text {
    background-color: #007bff;
    color: #fff;
    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform-origin: bottom center;
  }
  .side-img {
    background-color: #fff;
    color: #007bff;
    transform-origin: top center;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
  }
  &:hover .side-text {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
  }
  &:hover .side-img {
    transform: rotateX(120deg);
    -webkit-transform: rotateX(120deg);
    -moz-transform: rotateX(120deg);
    -ms-transform: rotateX(120deg);
    -o-transform: rotateX(120deg);
  }
}

// css-parent-btn-back-color-move
/*
<!-- Start back-color-move -->
          <div class="css-parent-btn-back-color-move">
            <a href="#" class="link">learn more</a>
          </div>
          <!-- End back-color-move -->
*/
.css-parent-btn-back-color-move {
  position: relative;
  .link {
    position: absolute;
    text-transform: capitalize;
    color: map-get($colors, 3498db);
    background-color: transparent;
    border: 2px solid map-get($colors, 3498db);
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.6, 0, 0.7, 1);
    -webkit-transition: all 0.5s cubic-bezier(0.6, 0, 0.7, 1);
    -moz-transition: all 0.5s cubic-bezier(0.6, 0, 0.7, 1);
    -ms-transition: all 0.5s cubic-bezier(0.6, 0, 0.7, 1);
    -o-transition: all 0.5s cubic-bezier(0.6, 0, 0.7, 1);
    line-height: 50px;
    padding: 0px 15px;
    display: block;
    width: 135px;
    height: 50px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    &:hover {
      color: #fff;
    }
    &::before {
      z-index: -1;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 0;
      background-color: map-get($colors, 3498db);
      transition: all 0.5s cubic-bezier(0.6, 0, 0.7, 1);
      -webkit-transition: all 0.5s cubic-bezier(0.6, 0, 0.7, 1);
      -moz-transition: all 0.5s cubic-bezier(0.6, 0, 0.7, 1);
      -ms-transition: all 0.5s cubic-bezier(0.6, 0, 0.7, 1);
      -o-transition: all 0.5s cubic-bezier(0.6, 0, 0.7, 1);
    }
    &:hover::before {
      left: 0;
      right: auto;
      width: 100%;
    }
  }
}
// css-parent-btn-back-face-1
/*
<!-- Start back-face-1 -->
<div class="css-parent-btn-back-face-1">
  <a href="#" class="link">
    <div class="side-face">learn more</div>
    <div class="side-back">learn more</div>
  </a>
</div>
<!-- End back-face-1 -->
*/
.css-parent-btn-back-face-1 {
  position: relative;
  .link {
    position: absolute;
    width: 160px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: map-get($colors, 3498db);
    text-decoration: none;
    letter-spacing: 1px;
    border: 2px solid map-get($colors, 3498db);
    font-size: $font-sm;
    @include transition(0.5s);
    overflow: hidden;
    @include borderRadius(5px);
    //
    .side-face {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      @include scale(1, 1);
      @include transition(0.5s);
    }
    .side-back {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      @include scale(3, 3);
      @include transition(0.5s);
      color: map-get($colors, fff);
      background-color: map-get($colors, 3498db);
      @include opacity(0);
    }
    &:hover .side-face {
      @include scale(0, 0);
    }
    &:hover .side-back {
      @include scale(1, 1);
      @include opacity(1);
    }
  }
}
/*
<!-- Start back-face-2 -->
            <div class="css-parent-btn-back-face-2">
              <div class="side-face">
                <p><a href="#" class="link"> learn more</a></p>
              </div>
              <div class="side-back">
                <p><a href="#" class="link"> learn more</a></p>
              </div>
            </div>
            <!-- End back-face-2 -->
*/
// css-parent-btn-back-face-2
.css-parent-btn-back-face-2 {
  width: 150px;
  height: 60px;
  margin-top: 30px;
  position: relative;
  display: block;
  overflow: hidden;
  .side-face {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: map-get($colors, 333);
    @include borderRadius(5px);
    p {
      font-size: $font-sm + 2;
      text-align: center;
      line-height: 60px;
      letter-spacing: 0.1em;
      .link {
        text-decoration: none;
        color: map-get($colors, fff);
      }
    }
  }
  .side-back {
    position: absolute;
    width: 150px;
    height: 60px;
    top: -60px;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: map-get($colors, 3498db);
    @include transition(0.5s);
    p {
      font-size: $font-sm + 2;
      text-align: center;
      line-height: 60px;
      letter-spacing: 0.1em;
      .link {
        text-decoration: none;
        color: map-get($colors, fff);
      }
    }
  }
  &:hover .side-back {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    @include transition(0.5s);
    top: 0;
  }
}
