// color

$main-back:#F8F8F8;
$main-color:#108FA0;
$main-color-opacity:#108fa0a6;
$color-3498db: #3498db;
$text-color: #9c9c9c;
$footer-back:#1E2024;
$page-design:#DDC085;

// color: map-get($colors, 1);
$colors: (
  fff: #ffffff,
  2: #e4fbff,
  3: #ecf0f1,
  4: #f4f9f9,
  eee: #eeeeee,
  ccc: #cccccc,
  7: #95a5a6,
  969: #969696,
  9: #737373,
  10: #766a65,
  11: #9e9d89,
  999: #999999,
  13: #666666,
  14: #caf7e3,
  21: #0099e5,
  22: #0984e3,
  23: #2980b9,
  24: #0652dd,
  25: #0066a1,
  046582: #046582,
  27: #4a47a3,
  28: #34495e,
  3498db: #3498db,
  41: #34bf49,
  42: #00a98f,
  43: #12cbc4,
  44: #1abc9c,
  45: #2c9f45,
  46: #289672,
  29bb89: #29bb89,
  48: #1e6f5c,
  49: #009688,
  080: #008800,
  ed4c67: #ed4c67,
  62: #f14668,
  63: #be0027,
  c00: #cc0000,
  65: #ff4c4c,
  66: #e74c3c,
  67: #6b011f,
  68: #6b011f,
  69: #4f1302,
  70: #432d0f,
  71: #f39189,
  72: #bb8082,
  73: #e91e63,
  f00: #ff0000,
  81: #e67e22,
  82: #f1c40f,
  83: #f39c12,
  84: #cf8d2e,
  85: #e4e932,
  200: #629aa9,
  201: #545963,
  202: #709fb0,
  203: #6c5ce7,
  204: #7868e6,
  205: #3c415c,
  206: #301b3f,
  000: #000000,
  333: #333333,
);

// root
// background: var(--color-3498db);
:root {
  --color-3498db: #3498db;
  --color-fff: #ffffff;
  --color-000: #0000000;
  --color-333: #333333;
  --color-f00: #ff0000;
  --color-080: #008800;
}

.color-fff {
  color: map-get($colors, 1);
}
